.titleIntro {
    text-align: center;
    margin-bottom: 7rem;
}

.profilePic {
    width: 200px;
    border-radius: 100px;
    border: 1px solid #82807E;
    margin-bottom: 3rem;
    box-shadow: 3px 3px 5px 6px #ccc;
}

a {
    text-decoration: none;
}

.socialLink:hover {
    scale: 1.1;
    transition: 1s;
}

.projectTile:hover {
    scale: 1.05;
    transition: 1s;
}